.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
}

.home {
    width: 28%;
    height: 90vh;
    background-color: #192A32;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 1rem;
}

.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.game-row {
    display: flex;
}

.game-row button {
    padding: 2rem;
}

.main-img {
    display: flex;
    gap: 0.5rem;
    padding: 0 0 10px 0;
}

.home-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: #1F3540;
    border-radius: 7px;
    border-style: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    gap: 1rem;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #192A32;
    border-radius: 5px;
    padding: 0.5rem;
}

.home-content button {
    border-style: none;
    width: 100%;
    cursor: pointer;
    height: 100%;
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content button:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.pick-player {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}

.box {
    width: 100%;
    padding: 0.5rem 2rem 1rem 2rem;
    border: 2px solid red;

}