.quote-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    /* height: 100%; */
    width: 20%;
    background-color: #192A32;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 25px;
}

.quote-title {
    color: #31C4BE;
}

.quote-p {
    color: #F2B237;
}

.quote-container img{
    width: 100px;
}